.ct-target-line {
	stroke: blue;
	stroke-width: 2px;
	stroke-dasharray: 4px;
	shape-rendering: crispEdges;
}

#chart-box, #json {
	display: none;
}

#chart {
	overflow-x: scroll;
}
/* .ct-target-line2 {
	stroke: black;
	stroke-width: 2px;
	stroke-dasharray: 4px;
	shape-rendering: crispEdges;
} */
